.Corner {
  position: absolute;

  max-height: 100%;
}

.Corner.noOverflow {
  overflow: hidden;
}

.Corner.fullWidth {
  width: 100%;
}

.Corner.bottom {
  bottom: 0;
}

.Corner.left {
  left: 0;
}

.Corner.top {
  top: 0;
}

.Corner.right {
  right: 0;
}
