// scss-lint:disable TrailingSemicolon
$default-font-sizes: (
  desktop: (
    nav: 18px,
    small: 16px,
    base: 16px,
    large: 26px,
    heading: 62px,
    largeHeading: 60px,
    hugeHeading: 90px
  ),
  mobile: (
    nav: 18px,
    small: 14px,
    base: 16px,
    large: 26px,
    heading: 26px,
    largeHeading: 26px,
    hugeHeading: 60px
  )
);
// scss-lint:enable TrailingSemicolon

@mixin font($size: 'base', $font-sizes: $default-font-sizes, $line-height: true, $responsive: true) {
  $mobile-size: map-get(map-get($font-sizes, 'mobile'), $size);
  $desktop-size: map-get(map-get($font-sizes, 'desktop'), $size);

  @if ($responsive) {
    @include mobile {
      @include single-font-size($mobile-size, $line-height)
    }

    @include desktop {
      @include single-font-size($desktop-size, $line-height)
    }
  } @else {
    @include single-font-size($desktop-size, $line-height)
  }
}

@mixin mobile-font($size: 'base', $font-sizes: $default-font-sizes, $line-height: true) {
  $mobile-size: map-get(map-get($font-sizes, 'mobile'), $size);

  @include mobile {
    @include single-font-size($mobile-size, $line-height)
  }
}


@mixin single-font-size($size, $line-height) {
  font-size: $size;
  @if ($line-height) {
    line-height: 10px + $size;
  }
}
