// scss-lint:disable TrailingSemicolon
$breakpoints: (
  phone: 600px,
  tablet: 768px,
  desktop: 1150px,
  screening-desktop: 1205px,
  design-disruptors-desktop: 1860px
);
// scss-lint:enable TrailingSemicolon
@mixin mobile {
  @include media('<desktop') {
    @content;
  }
}

@mixin desktop {
  @include media('>=desktop') {
    @content;
  }
}

@mixin phone {
  @include media('<=phone') {
    @content;
  }
}

@mixin tablet {
  @include media('<tablet') {
    @content;
  }
}

@mixin screening-mobile {
  @include media('<screening-desktop') {
    @content;
  }
}

@mixin screening-desktop {
  @include media('>=screening-desktop') {
    @content;
  }
}

@mixin design-disruptors-mobile {
  @include media('<design-disruptors-desktop') {
    @content;
  }
}

@mixin design-disruptors-desktop {
  @include media('>=design-disruptors-desktop') {
    @content;
  }
}
