// Points of reassembly
@import 'include-media/dist/include-media';

$breakpoints: (
  'mobile': 650px,
  'desktop': 1024px
);

$font-family: 'Montserrat', sans-serif;
$font-family-serif: 'Merriweather', serif;
$font-family-alternative: 'Montserrat Alternates', sans-serif;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Spacing
$space-xSmall: 10px;
$space-small: 20px;
$space-base: 40px;
$space-large: 60px;
$space-xLarge: 80px;
$space-huge: 80px;

$color-white: #fff;
$color-almost-white: #fcfcfc;
$color-amaranth: #ed2f58;
$color-light-purple: #fceaee;
$color-light-pink: #fcebe0;
$color-maize: #f7bf4f;
$color-very-light-pink: #fcebe0;
$color-red-pink: #ed2f58;
$color-blue: #0d41c2;
$color-charcoal-grey: #3b3b3b;
$color-pale-grey: #f3f2f7;

$hero-heading-width-mobile: 220px;
$hero-heading-width-desktop: 500px;

$max-width: 1500px;

$speaker-tile-size-desktop: 375px;
$speaker-tile-size-mobile: 300px;

$layer-base: 0;
$layer-nav: 10;
