// Points of reassembly
@import 'include-media/dist/include-media';

$breakpoints: (
  'mobile': 650px,
  'desktop': 1024px
);

$font-family: 'Montserrat', sans-serif;

// Spacing
$space-small: 20px;
$space-base: 40px;
$space-large: 80px;
$space-huge: 160px;

$color-white: #fff;
$color-amaranth: #ed2f58;
$color-light-purple: #fceaee;
$color-light-pink: #fcebe0;
$color-maize: #f7bf4f;

$hero-heading-width-mobile: 220px;
$hero-heading-width-desktop: 760px;

$max-width: 1500px;
$grid-margin: 20px;

$speaker-tile-size-desktop: 375px;
$speaker-tile-size-mobile: 300px;
