$Button-radius: 100px;
$Button-color: $color-white;
$Button-padding: 0 25px;

$Button--hero-color: $color-amaranth;

$Button-responsive: (
  width: (200px, 240px),
  height: (50px, 60px),
  line-height: (50px, 60px)
);

.Button {
  @include font(small);
  @include responsive($Button-responsive);

  max-width: 100%;

  border: none;

  color: $Button-color;

  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  cursor: pointer;
}

.Button.hero {
  background-color: $color-white;

  color: $Button--hero-color;
}
