$Button-radius: 100px;
$Button-color: $color-white;
$Button-padding: 0 25px;

$Button--hero-color: $color-amaranth;

$Button-responsive: (
  height: (50px, 60px),
  line-height: (47px, 57px),
  padding: (0 20px, 0 40px),
);

.Button {
  @include font(small);
  @include responsive($Button-responsive);

  display: inline-block;

  max-width: 100%;

  border: 0;

  color: $Button-color;

  cursor: pointer;

  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  transition: all 0.3s ease-out;
}

.Button {
  border: solid 3px;
}

@mixin Button--border {
  border: solid 3px;
}

@mixin Button--primary-colors($color: $color-amaranth) {
  &:not(.onColor) {
    color: $color-white;
    background-color: $color;
    border-color: $color;
  }

  &.onColor {
    color: $color;
    background-color: $color-white;
    border-color: $color-white;
  }
}

@mixin Button--secondary-colors($color: $color-amaranth) {
  background-color: transparent;

  &:not(.onColor) {
    border-color: $color;
    color: $color;
  }

  &.onColor {
    border-color: $color-white;
    color: $color-white;
  }
}

.Button.primary.pink {
  @include Button--primary-colors($color-amaranth);
  &:hover {
    @include Button--secondary-colors($color-amaranth);
  }
}

.Button.primary.blue {
  @include Button--primary-colors($color-blue);
  &:hover {
    @include Button--secondary-colors($color-blue);
  }
}

.Button.secondary.pink {
  @include Button--secondary-colors($color-amaranth);
  &:hover {
    @include Button--primary-colors($color-amaranth);
  }
}

.Button.secondary.blue {
  @include Button--secondary-colors($color-blue);
  &:hover {
    @include Button--primary-colors($color-blue);
  }
}
