.Flex {
  display: flex;
}

.Flex.row {
  flex-direction: row;
}

.Flex.column {
  flex-direction: column;
}

.Flex.wrap {
  flex-wrap: wrap;
}

.Flex.alignCenter {
  align-items: center;
}

.Flex.alignStart {
  align-items: flex-start;
}

.Flex.justifyCenter {
  justify-content: center;
}

.Flex.justifyEnd {
  justify-content: flex-end;
}

.Flex.spaceBetween {
  justify-content: space-between;
}

.Flex.spaceAround {
  justify-content: space-around;
}

.Flex.spaceBetween {
  justify-content: space-between;
}

.Flex-grow {
  flex-grow: 1;
  width: 100%;
}

.Flex-fullHeightChild {
  display: flex;
  align-items: stretch;
}

@include desktop {
  .Flex.justifyCenter-desktop {
    justify-content: center;
  }

  .Flex.row-desktop {
    flex-direction: row;
  }

  .Flex.justifyCenter-desktop {
    justify-content: center;
  }
}

@include mobile {
  .Flex.column-mobile {
    flex-direction: column;
  }

  .Flex.alignCenter-mobile {
    align-items: center;
  }

  .Flex.justifyCenter-mobile {
    justify-content: center;
  }
}
