$Frame-colors: (
  'blue': $color-blue,
);

$Frame-values: (
  border-width: (6px, 12px),
);

.Frame {
  @include responsive($Frame-values);

  border-style: solid;
}

@each $name, $color in $Frame-colors {
  .Frame.#{$name} {
    border-color: $color;
  }
}
