$GridTwo-col: 250px;
$GridTwo-gutter: 10px;
$GridTwo-min-padding-desktop: 80px;
$GridTwo-min-padding-mobile: 40px;

$GridTwo-col-values: (
  width: (250px - $GridTwo-gutter * 2, 250px - $GridTwo-gutter * 2),
);
$GridTwo-largeCol-values: (
  width: (4 * (250px - $GridTwo-gutter * 2), 4 * (250px - $GridTwo-gutter * 2)),
);

.GridTwo {
  display: flex;

  margin: auto;

  @include desktop {
    flex-direction: row;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}

.GridTwo-col,
.GridTwo-largeCol {
  display: inline-block;
  margin: 0 $GridTwo-gutter;
}

@mixin GridTwo-largeColumn($i, $col-width) {
  .GridTwo-largeCol {
    @if $i >= 4 {
      width: ($col-width - $GridTwo-gutter) * 4;
    } @else if $i >= 3 {
      width: ($col-width - $GridTwo-gutter) * 2;
    } @else if $i >= 2 {
      width: ($col-width - $GridTwo-gutter) * 2;
    }
  }
}

.GridTwo {
  .GridTwo-col {
    @include responsive($GridTwo-col-values);
  }

  .GridTwo-largeCol {
    @include responsive($GridTwo-largeCol-values);
  }

  @for $i from 1 through 5 {
    @include desktop {
      $col-width: $GridTwo-col;
      $width: $i * $col-width;

      @include media(">=#{$width + $GridTwo-min-padding-desktop}") {
        @include GridTwo-largeColumn($i, $col-width);

        width: $width;
      }
    }

    @include mobile {
      $col-width: $GridTwo-col;
      $width: $i * $col-width;

      @include media(">=#{$width + $GridTwo-min-padding-mobile}") {
        width: $width;
      }
    }
  }
}
