$HeroHeading-border: solid $color-white;
$HeroHeading-bg-color: $color-amaranth;

$HeroHeading-values: (
  min-width: (0, $hero-heading-width-desktop),
  font-size: (36px, 160px),
  border-width: (6px, 12px),
  height: (66px, 260px),
  line-height: (46px, 170px),
  padding: (0 20px, 0 90px)
);

$HeroHeading--twoLines-values: (
  height: (116px, 450px),
);

$HeroHeading-bg-colors: (
  'amaranth': $color-amaranth,
  'blue': $color-blue,
);

.HeroHeading {
  @include responsive($HeroHeading-values);

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  border: $HeroHeading-border;

  font-weight: bold;

  text-align: center;
}

.HeroHeading.twoLines {
  @include responsive($HeroHeading--twoLines-values);
}

@each $name, $color in $HeroHeading-bg-colors {
  .HeroHeading.#{$name} {
    background-color: $color;
  }
}
