$HeroHeading-border: solid $color-white;
$HeroHeading-bg-color: $color-amaranth;

$HeroHeading-values: (
  width: ($hero-heading-width-mobile, $hero-heading-width-desktop),
  border-width: (8px, 12px),
  font-size: (50px, 180px),
  height: (110px, 260px),
  line-height: (110px, 260px),
  padding: (0 20px, 0 90px)
);

.HeroHeading {
  @include responsive($HeroHeading-values);

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  background-color: $HeroHeading-bg-color;

  border: $HeroHeading-border;

  font-weight: bold;
}
