$Line-color: $color-white;

$Line--horizontal-values: (
  height: 2px,
  width: 120px
);

$Line--vertical-values: (
  height: 120px,
  width: 2px
);

.Line {
  background-color: $Line-color;
}

.Line.horizontal {
  @include responsive($Line--horizontal-values);
}

.Line.vertical {
  @include responsive($Line--vertical-values);
}

.Line.from-top-to-bottom {
  -ms-writing-mode: tb;
  writing-mode: vertical-lr;
}

.Line.from-bottom-to-top {
  -ms-writing-mode: tb-rl;
  writing-mode: sideways-lr;
}
