$Nav-bg-color: $color-amaranth;
$Nav-layer: $layer-nav;
$Nav-padding: 40px;
$Nav-link-color: $color-white;

$Nav-values: (
  padding: (20px, 40px),
);

.Nav {
  @include responsive($Nav-values);

  position: absolute;
  top: 0;

  z-index: $Nav-layer;

  width: 100%;

  font-family: $font-family-serif;

  @include desktop {
    @include font(small);
  }

  @include mobile {
    @include font(base);
  }
}

.Nav-link {
  position: relative;

  color: $Nav-link-color;

  text-decoration: none;

  &.active {
    border-bottom: solid 1px $Nav-link-color;
  }
}

.Nav-link:not(.Nav-footerLink) {
  &:after {
    content: '';

    position: absolute;
    bottom: -10px;
    left: 0;

    width: 100%;
    height: 3px;

    background-color: $color-white;

    transform: scaleX(0);
    transform-origin: center left;

    transition: transform 0.3s ease-out;
  }
}

.Nav-current,
.Nav-link:hover,
.Nav-link.active {
  &:not(.Nav-footerLink) {
    &:after {
      transform: scaleX(1);
    }
  }
}

.Nav-smallLink {
  @include font(small);
}

.Nav-footerLink:hover {
  font-weight: bold;
}
