$Nav-bg-color: $color-amaranth;
$Nav-layer: $layer-nav;
$Nav-padding: 40px;
$Nav-link-color: $color-white;

$Nav-values: (
  padding: (20px, 40px),
);

.Nav {
  @include responsive($Nav-values);

  position: absolute;
  top: 0;

  z-index: $Nav-layer;

  width: 100%;

  font-family: $font-family-serif;

  @include desktop {
    @include font(small);
  }

  @include mobile {
    @include font(base);
  }
}

.Nav-link {
  color: $Nav-link-color;

  text-decoration: none;

  &.active {
    border-bottom: solid 1px $Nav-link-color;
  }
}

.Nav-current {
  border-bottom: solid 1px $color-white;
}

.Nav-smallLink {
  @include font(small);
}
