$Panel-content-responsive: (
  margin: (20px, 60px)
);

$Panel-colors: (
  amaranth: $color-amaranth
);

@each $name, $color in $Panel-colors {
  .Panel.#{$name} {
    background-color: $color;
  }
}

.Panel.hero {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.Panel-content {
  @include responsive($Panel-content-responsive);

  flex-grow: 1;
}

.Panel.hero .Panel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
