$Panel--hero-content-responsive: (
  margin: (20px, 60px)
);

$Panel--padded-content-responsive: (
  padding: (20px, 60px)
);

$Panel-colors: (
  'amaranth': $color-amaranth,
  'blue': $color-blue,
  'grey': $color-charcoal-grey,
  'white': $color-almost-white,
  'pale-grey': $color-pale-grey,
);

@each $name, $color in $Panel-colors {
  .Panel.#{$name} {
    background-color: $color;
  }
}

.Panel.centered {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100%;
}

.Panel.hero {
  display: flex;
  flex-direction: column;

  min-height: 90%;
}

.Panel.hero .Panel-content {
  @include responsive($Panel--hero-content-responsive);

  flex-grow: 1;
}

.Panel.padded .Panel-content {
  @include responsive($Panel--padded-content-responsive);
}

.Panel.hero .Panel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Panel.gradient {
  background-image: linear-gradient(204deg,
    $color-light-purple,
    $color-light-pink 33%,
    $color-light-purple 68%,
    $color-light-pink
  );
}
