$ScheduleTable-values: (
  padding: (100px 0, 120px 160px),
);

.ScheduleTable {
  @include responsive($ScheduleTable-values);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  background-color: $color-white;

  @include tablet {
    flex-direction: column;
  }
}

.ScheduleTable-entry {
  display: inline-block;
  width: 50%;

  @include tablet {
    width: 100%;
  }
}

.ScheduleTable-day.mobilePadded {
  @include desktop {
    margin-left: 40%;
  }
}

.ScheduleTable-separator {
  color: $color-charcoal-grey;
  opacity: 0.5;
}
