$SectionHeading-colors: (
  'orange': $color-maize,
  'pink': $color-red-pink,
  'blue': $color-blue,
  'grey': $color-charcoal-grey,
);

$SectionHeading-values: (
  line-height: (70px, 195px),
);

$SectionHeading--small-values: (
  line-height: (40px, 110px),
);

$SectionHeading--overlayed-values: (
  margin-bottom: (-25px, -75px),
);

.SectionHeading {
  @include responsive($SectionHeading-values);
  @include font(hugeHeading);

  position: relative;

  z-index: 1;

  font-family: 'Montserrat Alternates';
  font-weight: 700;
  letter-spacing: .0027em;
}

.SectionHeading.small {
  @include responsive($SectionHeading--small-values);
  @include font(largeHeading);
}

.SectionHeading.overlayed {
  @include responsive($SectionHeading--overlayed-values);
}

@each $name, $color in $SectionHeading-colors {
  .SectionHeading.#{$name} {
    color: $color;
  }
}
