$Separator-width: 60px;

$Separator-colors: (
  yellow: $color-maize,
  blue: $color-blue,
  pink: $color-amaranth,
);

$Separator-values: (
  height: (6px, 8px),
);

.Separator {
  @include responsive($Separator-values);

  width: $Separator-width;

  display: inline-block;

  margin: 0;

  outline: none;
  border: 0;
}

.Separator.fullWidth {
  width: 100%;
}

@each $name, $color in $Separator-colors {
  .Separator.#{$name} {
    background-color: $color;
  }
}
