$Speaker-values: (
  height: (280px, 355px)
);

$Speaker-name-values: (
  font-size: (26px, 26px),
  line-height: (36px, 36px)
);

$Speaker-title-values: (
  font-size: (14px, 18px),
  line-height: (24px, 28px)
);

$Speaker-info-values: (
  padding: (0 5px 0 15px, 0 5px 0 30px)
);

.Speaker {
  @include responsive($Speaker-values);

  width: 100%;

  display: flex;
}

.Speaker-inner {
  position: relative;
}

.Speaker-info {
  @include responsive($Speaker-info-values);
  bottom: 25px;
  position: absolute;
  z-index: 1;
}

.Speaker-name {
  @include responsive($Speaker-name-values);

  font-family: 'Montserrat Alternates';
  font-weight: bold;
  color: $color-white;
}

.Speaker-title {
  @include responsive($Speaker-title-values);

  color: $color-white;
  font-family: 'Merriweather';
  font-weight: 300;
}
