.Sponsor-logo {
  max-width: 100%;
  max-height: 80px;

  @include mobile {
    // transform: scale()
  }
}

@include mobile {
  .Sponsor.platinum .Sponsor-logo {
    max-height: 70px;
  }

  .Sponsor.gold .Sponsor-logo {
    max-height: 60px;
  }

  .Sponsor.landingjobs .Sponsor-logo {
    max-width: 279px;
    max-height: 40px;
  }

  .Sponsor.stone .Sponsor-logo {
    max-height: 50px;
  }

  .Sponsor.axure .Sponsor-logo {
    max-width: 279px;
    max-height: 43px;
  }
}
