.Sponsor-logo {
  max-width: 100%;
  max-height: 60px;

  @include mobile {
    // transform: scale()
  }
}

@include mobile {
  .Sponsor.platinum .Sponsor-logo {
    height: 50px;
  }

  .Sponsor.gold .Sponsor-logo {
    height: 40px;
  }

  .Sponsor.landingjobs .Sponsor-logo {
    width: 209px;
    height: 30px;
  }

  .Sponsor.stone .Sponsor-logo {
    height: 30px;
  }

  .Sponsor.axure .Sponsor-logo {
    width: 195px;
    height: 30px;
  }
}
