$Text-colors: (
  'white': $color-white,
  'pink': $color-red-pink,
  'blue': $color-blue,
  'yellow': $color-maize,
  'grey': $color-charcoal-grey,
);

$Text-sizes: (small, base, large, heading, largeHeading);

.Text {
  color: $color-white;
}

.Text.strong {
  font-weight: bold;
}

.Text.center {
  text-align: center;
}

.Text.transparent {
  opacity: 0.8;
}

.Text-link {
  font-weight: bold;
  text-decoration: none;
}

.Text-whiteLink {
  font-weight: bold;
  text-decoration: none;
  color: $color-white;
}

.Text.noUnderline {
  text-decoration: none;
}

@each $name, $color in $Text-colors {
  .Text.#{$name},
  .Text-link {
    color: $color;
  }

  .Text.#{$name}.phoneNo {
    color: $color;
  }
}

@each $size in $Text-sizes {
  .Text.#{$size} {
    @include font($size);
  }
}

.Text.base-mobile {
  @include mobile {
    @include font('base');
  }
}

@each $size in $Text-sizes {
  .Text.#{$size}-mobile {
    @include mobile-font($size);
  }
}

.Text.indicative {

  @include desktop {
    @include font(large);

    padding-top: 5px;
  }

  @include mobile {
    font-size: 14px;
  }
}
