$Text-colors: (
  white: $color-white,
  pink: $color-red-pink,
  blue: $color-blue,
  dark: $color-greyish-brown,
  yellow: $color-maize,
);

$Text-sizes: (small, base, large, heading);

.Text {
  color: $color-white;
}

.Text.strong {
  font-weight: bold;
}

.Text.center {
  text-align: center;
}

.Text-link {
  color: $color-red-pink;

  font-weight: bold;
  text-decoration: none;
}

@each $name, $color in $Text-colors {
  .Text.#{$name} {
    color: $color;
  }
}

@each $size in $Text-sizes {
  .Text.#{$size} {
    @include font($size);
  }
}
