.TicketsAnim {
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;

  @include desktop {
    position: absolute;
    left: 50%;
  }

  @include mobile {
    max-height: 500px;
    left: 0%;
  }
}

@include desktop {
  .TicketsAnim-image {
    width: 400px;
  }
}

@include mobile {
  .TicketsAnim-image {
    width: 100%;
    max-width: 350px;
  }
}
