p.Text.blue.small.u-serif
  | Our official carrier, TAP Portugal, is giving a discount code to all attendees. If you are traveling in tourist class you will have a 10% discount. If traveling in business class you will get 20% discount.

.u-basePushBottom

= link_to "get your code", "/tap-discount.pdf", class: "Button secondary blue u-smallPushRight"

= link_to "buy your ticket", data.links.tito, class: "Button primary blue"
