h2.Text.heading.grey.strong Lisbon (LIS)
.u-smallPushBottom
p.Text.grey.small.u-serif If you want to land in Lisbon, you can catch a #{link_to "train at Lisboa Oriente", data.links.train_lisbon, target: "_blank", class: "Text-link"} to Braga (~4 hour trip).
