---
title: Practical Details - Mirror Conf
---

= partial "nav", locals: { current: "/practical-details" }
= partial "practical-details/hero"
= partial "practical-details/venue"
= partial "practical-details/venue_picture"
= partial "practical-details/airports"
= partial "practical-details/hotels"
= partial "practical-details/what_to_do"
= partial "practical-details/braga_picture"
= partial "practical-details/contacts"
